<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://speechifyfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/96d78c0a-df47-4d80-bd96-6ae8f4def5b2/resourceGroups/SpeechifyRG/providers/Microsoft.Web/sites/SpeechifyFunctions</ResourceId>
    <UserName>$SpeechifyFunctions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://speechifyfunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>